<div class="row">
  <div class="col-md-10">
    <h1>Log In</h1>

    <form method="post" action="/login">
      <input
        class="form-control"
        id="userName"
        name="userName"
        type="text"
        placeholder="Username"
        required="true"
        value={{userName}}
      />
      <input
        class="form-control"
        id="password"
        name="password"
        type="password"
        placeholder="Password"
        required="true"
      />
         {{#if  message}}
      <div class="alert alert-danger">
        <strong>Error:</strong>
        {{ message}}</div>
    {{/if}}

       <br />
      <input type="submit" class="btn btn-danger pull-left" value="Login" />

     
    </form>

   
  </div>
</div>