<div class="row">
  <div class="col-md-10">
    <h1>Register</h1>
    <hr />
    {{#if new_user_success_message}}
      <div class="alert alert-success">
        <strong>Successfull </strong>
        {{new_user_success_message}}
      </div>
      <a class="btn btn-success pull-left" href="/login">
         Login -->
    {{else}}
      <form method="post" action="/register">
        <input
          class="form-control"
          id="userName"
          name="userName"
          type="text"
          placeholder="Username"
          required="true"
          value={{userName}}
        /><br />
        <input
          class="form-control"
          id="password"
          name="password"
          type="password"
          minlength="8"
          placeholder="Password (min. 8 characters)"
          required="true"
        /><br />
        <input
          class="form-control"
          id="password2"
          name="password2"
          type="password"
          minlength="8"
          placeholder="ConfirmPassword (min. 8 characters)"
          required="true"

        /><br />
        <input
          class="form-control"
          id="email"
          name="email"
          type="email"
          placeholder="Email"
          required="true"
        /><hr />
       
        {{#if  message}}
        <div class="alert alert-danger">
          <strong>Error:</strong>
          {{ message}}</div>
      {{/if}}

        <input
          type="submit"
          class="btn btn-danger pull-left"
          value="Register"
        /><br /><br /><br />

      </form>

       
    {{/if}}
  </div>
</div>