<div class="row">
  <div class="col-md-10">
    <h1>
      {{session.user.userName}}
      (
      {{session.user.email}}
      ) History
    </h1>

    <p>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Login Date&Time</th>
              <th>Client Info</th>
            </tr>
          </thead>
          {{#each session.user.loginHistory}}
            <tr>
              <td>
                {{dateTime}}
              </td>
              <td>
                {{userAgent}}
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </p>
  </div>
</div>